{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <h1>{{ course.name }}</h1>
    <p>{{ course.description }}</p>
    <br>

    {% for lesson in lessons|sort((a, b) => a.number <=> b.number) %}
            <a href="{{ path('lesson_show', {'id': lesson.id}) }}">{{ lesson.number }} {{ lesson.name }}</a><br>
    {% endfor %}

    <br>
    <a href="{{ path('course_index') }}">К списку курсов</a>
    <a href="{{ path('course_edit', {'id': course.id}) }}">Редактировать курс</a>
    <a href="{{ path('lesson_new', {'course_id': course.id}) }}">Новый урок</a>
    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
