{% extends 'base.html.twig' %}

{% block title %}{{ lesson.name }} / {{ lesson.course.name }} / StudyOn{% endblock %}

{% block body %}
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand mb-0 h1" href="/">StudyOn</a>
            </div>
        </nav>

        <h1>{{ lesson.name }}</h1>
        <p>Курс: <a class="text-decoration-none"
                    href="{{ path('course_show', {'id': lesson.course.id}) }}">{{ lesson.course.name }}</a></p>

        <div class="d-inline-flex">
            <a class="btn btn-outline-dark l_edit" href="{{ path('lesson_edit', {'id': lesson.id}) }}">Редактировать</a>
            {{ include('lesson/_delete_form.html.twig') }}
        </div>

        <div class="card mt-3">
            <div class="card-body">
                {{ lesson.body }}
            </div>
        </div>
    </div>
{% endblock %}
