{% extends 'base.html.twig' %}

{% block title %}Lesson{% endblock %}

{% block body %}
    <h1>{{ lesson.name }}</h1>
    <p>Курс: <a href="{{ path('course_show', {'id': lesson.course.id}) }}">{{ lesson.course.name }}</a></p>

    <p>{{ lesson.body }}</p>

    <a href="{{ path('lesson_edit', {'id': lesson.id}) }}">Редактировать</a>
    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
